{
  "feefines": [
    {
	  "typefeefines": "fine",
      "typefeefinesId": "7261ecaae3a74dc68b468e12a70b1aex",
      "defaultamount": 0,
      "allowmanualcreation": "true",
      "taxvat": "0",
      "library": "Biblioteca Central"
    }
  ],
  "totalRecords": 1
}
