#mvn build
target/
#vert.x
.vertx/
#insertData
insertCurl.sh
insertCurlOut.sh
insertCurlOkapi.sh
pay.json
refund.json
transfer.json
waive.json
transfer-type.json
comment.json
#Test
TestOutOkapi
#Module
deleteModule.sh
#sql
views.sql
#diku
dikuToken
#idea
.idea/
*.iml
/target
/src/main/java/org/folio/rest/client/*
/src/main/java/org/folio/rest/jaxrs/*
/src/main/java/storage/model/*
/src/main/resources/postgres-conf.json
