{
  "amount": 15.0,
  "remaining": 15.0,
  "accountTransaction": 1,
  "dateCreated": "2018-01-31T00:00:01Z",
  "dateUpdated": "2018-01-31T00:00:01Z",
  "status": {
    "name": "Open"
  },
  "paymentStatus": {
    "name": "Paid Partially"
  },
  "feeFineType": "Damaged Book Fee",
  "feeFineOwner": "Shared",
  "title": "Statistical sketches of Upper Canada, for the use of emigrants, by a backwoodsman",
  "callNumber": "QH365.02 1966",
  "barcode": "87378389382402",
  "materialType": "Book",
  "itemStatus": {
    "name": "Available"
  },
  "location": "Main Library",
  "metadata": {
    "createdByUserId": "1ad737b0-d847-11e6-bf26-cec0c932ce01",
    "createdDate": "2018-01-31T21:21:02Z"
  },
  "loanId": "0bab56e5-1ab6-4ac2-afdf-8b2df0434378",
  "materialTypeId": "2b94c631-fca9-a892-c730-03ee529ffe27",
  "userId": "fc45c606-410d-4a7c-9f95-1a3fea2eef42",
  "itemId": "23fdb0bc-ab58-442a-b326-577a96204487",
  "feeFineId": "3a0d8d79-7f28-4795-aa92-2f5d67140e6b",
  "ownerId": "cfebe06e-d4f8-4d4e-8f5c-4d70595d74f8",
  "id": "0bab56e5-1ab6-4ac2-afdf-8b2df0434379"
}
