{
  "accounts" : [ {
    "amount": 15.0,
    "remaining": 15.0,
    "accountTransaction": 1,
    "dateCreated": "2018-01-31T00:00:01Z",
    "dateUpdated": "2018-01-31T00:00:01Z",
    "status": {
      "name": "Open"
    },
    "paymentStatus": {
      "name": "Paid Partially"
    },
    "feeFineType": "Damaged Book Fee",
    "feeFineOwner": "Main Admin",
    "title": "Interesting Times",
    "callNumber": "D15.H63 A3 2002",
    "barcode": "326547658598",
    "materialType": "Book",
    "itemStatus": {
      "name": "Available"
    },
    "location": "Main Library",
    "metadata": {
      "createdByUserId": "1ad737b0-d847-11e6-bf26-cec0c932ce01",
      "createdDate": "2018-01-31T21:21:02Z"
    },
    "dueDate": "2017-01-19T12:42:21Z",
    "returnedDate": "2017-01-08T10:25:54Z",
    "loanId": "b74d7b62-0689-49d9-bd4c-38b44d17a250",
    "userId": "77477611-ab44-4082-a0d8-42f7acdfde11",
    "itemId": "bb5a6689-c008-4c96-8f8f-b666850ee12d",
    "materialTypeId": "1a54b431-2e4f-452d-9cae-9cee66c9a892",
    "feeFineId": "57dbeeba-f26b-4dc0-abc8-21cce7659834",
    "ownerId": "3c7b8695-b537-40b1-b0a3-948ad7e1fc09",
    "id": "0bab56e5-1ab6-4ac2-afdf-8b2df0434379"
  }, {
    "amount": 5.0,
    "remaining": 5.0,
    "accountTransaction": 2,
    "dateCreated": "2018-01-31T00:00:01Z",
    "dateUpdated": "2018-01-31T00:00:01Z",
    "status": {
      "name": "Closed"
    },
    "paymentStatus": {
      "name": "Waived Partially"
    },
    "feeFineType": "Late",
    "feeFineOwner": "Main Library Administration Office",
    "title": "Bridget Jones's Baby: the diaries",
    "callNumber": "PR6056.I4588 B749 2016",
    "barcode": "453987605438",
    "materialType": "Book",
    "itemStatus": {
      "name": "Checked out"
    },
    "location": "Main Library",
    "metadata": {
    "createdByUserId": "1ad737b0-d847-11e6-bf26-cec0c932ce01",
    "createdDate": "2018-01-31T21:21:02Z"
    },
    "dueDate": "2017-01-19T12:42:21Z",
    "returnedDate": "2017-01-08T10:25:54Z",
    "loanId": "0bab56e5-1ab6-4ac2-afdf-8b2df0434378",
    "userId": "fc45c606-410d-4a7c-9f95-1a3fea2eef42",
    "itemId": "4428a37c-8bae-4f0d-865d-970d83d5ad55",
    "materialTypeId": "1a54b431-2e4f-452d-9cae-9cee66c9a892",
    "feeFineId": "7a29a689-32fe-41fd-a8b4-db21b75bd621",
    "ownerId": "3c7b8695-b537-40b1-b0a3-948ad7e1fc09",
    "id": "0bab56e5-1ab6-4ac2-afdf-8b2df0434379"
  } ],
  "totalRecords" : 2
}

