{
  "amount": 15.0,
  "remaining": 15.0,
  "dateCreated": "2018-01-31T00:00:01Z",
  "dateUpdated": "2018-01-31T00:00:01Z",
  "status": {
    "name": "Open"
  },
  "paymentStatus": {
    "name": "Paid Partially"
  },
  "feeFineType": "Damaged Book Fee",
  "feeFineOwner": "Main Admin",
  "title": "Interesting Times",
  "callNumber": "D15.H63 A3 2002",
  "barcode": "326547658598",
  "materialType": "Book",
  "itemStatus": {
    "name": "Available"
  },
  "location": "Main Library",
  "metadata": {
    "createdByUserId": "1ad737b0-d847-11e6-bf26-cec0c932ce01",
    "createdDate": "2018-01-31T21:21:02Z"
  },
  "dueDate": "2017-01-19T12:42:21Z",
  "returnedDate": "2017-01-08T10:25:54Z",
  "loanId": "b74d7b62-0689-49d9-bd4c-38b44d17a250",
  "userId": "77477611-ab44-4082-a0d8-42f7acdfde11",
  "itemId": "bb5a6689-c008-4c96-8f8f-b666850ee12d",
  "materialTypeId": "1a54b431-2e4f-452d-9cae-9cee66c9a892",
  "feeFineId": "57dbeeba-f26b-4dc0-abc8-21cce7659834",
  "ownerId": "3c7b8695-b537-40b1-b0a3-948ad7e1fc09",
  "id": "0bab56e5-1ab6-4ac2-afdf-8b2df0434379",
  "loanPolicyId": "f5b3ea0e-7c62-4f73-bbe5-ea8eae37c615",
  "overdueFinePolicyId": "f6f6aa71-33de-4af8-a066-2d29756f2e26",
  "lostItemFeePolicyId": "952967a2-ce04-4eb8-a47c-e003ca6d4c31"
}