{
  "actualCostRecordId": "1dcfc936-9402-45f2-b681-bd18d8601f6d",
  "amount": "9.99",
  "servicePointId": "b5fe7a1a-edc3-4b34-b6a2-38969cac253b",
  "additionalInfoForStaff": "Additional information for staff",
  "additionalInfoForPatron": "Additional information for a patron"
}
