{
  "feefinehistory":[
    {
      "dateCreated":"2018-01-31",
      "dateUpdated":"2018-01-31",
      "feeFineType":"Damaged Camera Fee",
      "charged":1000.00,
      "remaining":50.00,
      "status":"Open",
      "paymentStatus":"Paid Partially",
      "loanTransaction":1,
      "item":"Digital Camera 1",
      "barcode":"2345678901",
      "itemType":"Equipment",
      "callNumber":"Equip Shelf 1 Spot 42",
      "feeFineOwner":"IISUE Library Circulation Desk",
      "comments":"This is a comment",
      "loanId":"2b6f7b11-4447-40d5-a049-f8b333988b61",
      "userId":"04d830a8-810c-415c-aa50-4d09c1fee133",
      "id":"0bab56e5-1ab6-4ac2-afdf-8b2df0434376"
    },
    {
      "dateCreated":"2018-01-31",
      "dateUpdated":"2018-01-31",
      "feeFineType":"Damaged Item Fee",
      "charged":25.00,
      "remaining":15.00,
      "status":"Closed",
      "paymentStatus":"Refunded Fully",
      "loanTransaction":2,
      "item":"Interesting Times",
      "barcode":"326547658598",
      "itemType":"book",
      "callNumber":"QH332.A44 2006 V.1 C.2",
      "feeFineOwner":"Library Circulation Desk",
      "comments":"This is a comment",
      "loanId":"894e0e8b-1033-416c-8c6d-90d845835028",
      "userId":"04d830a8-810c-415c-aa50-4d09c1fee133",
      "id":"0bab56e5-1ab6-4ac2-afdf-8b2df0434377"
    }
  ],
  "totalRecords":2
}


