{
  "feefines":[
    {
      "feeFineType":"overdue",
      "id":"39a14e03-c372-4659-860b-5423c970633e",
      "defaultAmount":100,
      "ownerId":"03ece16e-3fc6-4390-8511-ca7a7882c5c6"
    }
  ],
  "totalRecords":1
}
