{
  "payments" : [ {
    "requireComment": true,
    "nameMethod": "Cash",
    "allowedRefundMethod": true,
    "metadata": {
      "createdDate": "2018-04-16T14:22:07Z",
      "createdByUserId": "1ad737b0-d847-11e6-bf26-cec0c932ce01",
      "createdByUsername": "diku_admin",
      "updatedDate": "2018-04-16T14:22:07Z"
    },
    "accountId": "0bab56e5-1ab6-4ac2-afdf-8b2df0434373",
    "feefineactionId": "0bab56e5-1ab6-4ac2-afdf-8b2df0434372",
    "id": "0bab56e5-1ab6-4ac2-afdf-8b2df0434371"
  }, {
    "requireComment": true,
    "nameMethod": "Credit",
    "allowedRefundMethod": true,
    "metadata": {
      "createdDate": "2018-04-16T14:22:07Z",
      "createdByUserId": "1ad737b0-d847-11e6-bf26-cec0c932ce01",
      "createdByUsername": "diku_admin",
      "updatedDate": "2018-04-16T14:22:07Z"
    },
    "accountId": "0bab56e5-1ab6-4ac2-afdf-8b2df0434374",
    "feefineactionId": "0bab56e5-1ab6-4ac2-afdf-8b2df0434373",
    "id": "0bab56e5-1ab6-4ac2-afdf-8b2df0434372"
  } ],
  "totalRecords" : 2
}
