{
  "transfertypes":[
    {
      "name":"Employee",
      "conditions":{
        "never":false,
        "inmediatly":false,
        "totalOwed":false,
        "feeFineOwed":false
      },
      "interval":{
        "minute": "minute(s)",
        "hour": "hour(s)",
        "day": "day(s)",
        "week": "week(s)",
        "month": "month(s)"
      },
      "id":"0bab56e5-1ab6-4ac2-afdf-8b2df0434341"
    },
    {
      "name":"STUDENT",
      "conditions":{
        "never": false,
        "inmediatly": false,
        "totalOwed": false,
        "feeFineOwed": false
      },
      "interval":{
        "minute": "minute(s)",
        "hour": "hour(s)",
        "day": "day(s)",
        "week": "week(s)",
        "month": "month(s)"
      },
      "id":"0bab56e5-1ab6-4ac2-afdf-8b2df0434342"
    }
  ],
  "totalRecords":2
}
